@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Karla";
  background-image: url("/dont-trip-on-the-way-out.jpg") !important;
  @apply bg-gray-800 text-purple-600 bg-cover;
}

.h-24 {
  height: 10rem;
}

.bg-purple-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(222 188 255);
}
.mb-4 {
  margin-bottom: 1rem;
  margin-right: 65px;
  margin-left: 10px;
}